<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboards.dashboard_1">WEBAPPLAYERS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" page-scroll href="#page-top">Home</a></li>
                    <li><a class="page-scroll" page-scroll href="#features">Features</a></li>
                    <li><a class="page-scroll" page-scroll href="#team">Team</a></li>
                    <li><a class="page-scroll" page-scroll href="#testimonials">Testimonials</a></li>
                    <li><a class="page-scroll" page-scroll href="#pricing">Pricing</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div style = "background: #000; background-image: radial-gradient(circle at top left,#000,#3c4858)" data-ride="carousel" ng-non-bindable>
  <div class="container" style = "position: relative; width: 100vw; height: 100vh;">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>“Learn from the best”<br/>
                        Our tutors teach skills <br/>
                        for world class  performance<br/>
                    </h1>
                    <p>A free trial is never a bad idea!</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">REGISTER NOW</a>
                        
                    </p>
                </div>
                <!-- <div class="carousel-image wow zoomIn">
                    <img src="/static/img/landing/laptop.png" alt="laptop"/>
                </div> -->
            </div>

            <div class = "bodydiv" style = "background: #000; background-image: radial-gradient(circle at top left,#000,#3c4858)">
              <div class="container" style = "position: relative; width: 100vw; height: 100vh;">
                <div class="parallax ">
                  <img src="https://returnpath.com/assets/images/backgrounds/background-confetti-xl-arcade.svg;">
                  <img  src="https://returnpath.com/assets/images/backgrounds/background-confetti-lg-arcade.svg;">
                  <img  src="https://returnpath.com/assets/images/backgrounds/background-confetti-md-arcade.svg;">
                  <img  src="https://returnpath.com/assets/images/backgrounds/background-confetti-sm-arcade.svg;">
                  <img  src="https://returnpath.com/assets/images/backgrounds/background-confetti-xs-arcade.svg">
                </div>
              </div>
            </div>


        </div>

    </div>
</div>
</div>


<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>What's cooking for you?<br/> <span class="navy"> We offer all that you need.</span> </h1>
            <p>Our team works round the clock to ensure your success. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Experienced Instructors</h2>
                <p>We offer tutors with great expertise in their core subjects and hands on experience in the field of teaching. Our team includes certified professionals and teachers with Bachelors and Masters Degree from the top ranked universities. Our teachers not only share their skills with the students but believe this to be a learning experience for them as well. To learn from the best book your tutor NOW! 
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>Personalized Experience</h2>
                <p>Get one-on-one online sessions at your convenience. You can book hours and days of your choice for any course or topic you want to learn about. </p>
                <a href="#" class="btn btn-xs btn-primary"> More info</a>
                <span >  We offer a trial session as a “know how” for both the student and the tutor. If you are looking to have more personalized learning experience we are right at your service. </span>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="/static/img/landing/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Variety of international boards</h2>
                <p>You can avail our services in any subject area of your school board. Be it IB, Cambridge or Junior Cert, we have got what you need! Enhance your English writing skills by improving your vocabulary, sentence structure and punctuation. You can also learn the basics of Programming and Digital Marketing with us. If you are looking for a business tutor get yourself prepared because we have gotten you one that will teach you Microsoft excel, SPSS, PowerPoint MS word and all your need to learn practically. </p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google features-icon"></i>
                <h2>Competitive Exams Preparation courses</h2>
                <p>Getting into a good university has always been a task for the students. How to prepare for the entrance exam? How to set the paper timing right? Where/whom to learn from? To get everything right we are here to answer all your questions. Prepare for your SAT, PSAT, ACT and… from the professionals.</p>
            </div>
        </div>
    </div>


</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Assets</h1>
                <p>We build a team to facilitate a new learning experience for struggling students.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="/static/img/landing/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Amelia</span> Smith</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="/static/img/landing/avatar1.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">John</span> Novak</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="/static/img/landing/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Peter</span> Johnson</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>






<section id = "testimonials" class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>What our partners say</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="/static/img/landing/avatar3.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="/static/img/landing/avatar1.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="/static/img/landing/avatar2.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>



<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Company name, Inc.</span></strong><br/>
                    795 Folsom Ave, Suite 600<br/>
                    San Francisco, CA 94107<br/>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Company Name</strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            if($('body').hasClass('body-small')) {
                $('#navbar').collapse('toggle');
            }
        });

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>
